/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/

:root {
  --color-primary: #343a40;
  --color-primary-light: #868e96;
  --color-primary-dark: #212529;

  --color-white: #fff;

  --custom-color--1: #dafb88;
  --custom-color--2: #fdcd67;
  --custom-color--3: #ff966c;
  --custom-color--4: #c76cff;
  --custom-color--5: #00d2ff;

  --fs-200: 1.2rem;
  --fs-300: 1.4rem;
  --fs-400: 1.6rem;
  --fs-500: 1.8rem;
  --fs-600: 2rem;
  --fs-700: 2.4rem;
  --fs-800: 3rem;
  --fs-900: 3.6rem;
  --fs-z00: 4.4rem;
  --fs-z10: 5.2rem;
}

body {
  font-family: "Raleway", serif;
  font-size: 1.6rem;
  color: #444;
  display: grid;
  place-items: center;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--custom-color--3);
  border-radius: 5px; /* Width of the scrollbar */
  /* Color of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the handle on hover */
}

.icon {
  height: 1.7rem;
  width: 1.7rem;
  color: var(--color-white);
  fill: var(--color-white);
}

.icon-big {
  height: 2.5rem;
  width: 2.5rem;
}

.btn {
  border: none;
  background: none;
}

.btn--circle {
  border-radius: 20rem;
  background-color: var(--color-primary);
}

.btn--circle--sm {
  height: 2.5rem;
  width: 2.5rem;
}

.btn--circle--big {
  height: 4rem;
  width: 4rem;
}

.app {
  width: 70%;
  height: 80vh;
  border-radius: 2.5rem;
  box-shadow: 0 1rem 2rem 1rem rgba(68, 68, 68, 0.1);
  display: grid;
  grid-template-columns: 10rem 1fr;
}

.sidebar {
  border-right: 1px solid #bbb;
  text-align: center;
  padding-top: 3rem;
}
.brand-logo {
  font-size: var(--fs-800);
  margin-bottom: 4rem;
  color: var(--custom-color--3);
  text-transform: uppercase;
}

.btn-plus {
  margin-bottom: 2rem;
}
.dots {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.dots li {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.dots li:nth-child(1) {
  background-color: var(--custom-color--1);
}
.dots li:nth-child(2) {
  background-color: var(--custom-color--2);
}
.dots li:nth-child(3) {
  background-color: var(--custom-color--3);
}

.dots li:nth-child(4) {
  background-color: var(--custom-color--4);
}
.dots li:nth-child(5) {
  background-color: var(--custom-color--5);
}

.main {
  /* background-color: blue; */
}

.top-bar {
  padding: 1rem 2rem;
  /* background-color: #343a40; */
  display: flex;
  gap: 2rem;
}

.top-bar button:not(:last-child) {
  background-color: var(--custom-color--3);
  padding: 0.5rem 1rem;
  border: none;
  font-size: var(--fs-400);
  color: var(--color-white);
  border-radius: 2rem;
  letter-spacing: 1px;
}
.top-bar button:last-child {
  margin-left: auto;
  background-color: var(--custom-color--3);
  /* border-radius: 50%; */
}

.top-bar form {
  position: relative;
}

.top-bar input {
  border: 1px solid #eee;
  border-radius: 2rem;
  padding: 1rem 5rem;
  font-family: inherit;
  font-size: inherit;
  color: var(--color-primary-light);
}

.top-bar input:focus {
  border: none;
  outline: 1px solid var(--custom-color--3);
  /* border: ; */
}

.top-bar input:focus + label svg {
  color: var(--custom-color--3);
}

.top-bar input::placeholder {
  /* font-size: 1.8rem; */
  color: #bbb;
  letter-spacing: 1px;
}

.top-bar label {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.top-bar label svg {
  color: #bbb;
  /* height: 2rem; */
  /* width: 2rem; */
}

.notes {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 3rem;
  height: 45rem;
  overflow: auto;
}
.note {
  --pad-size: 4rem;
  --btn-loc: calc(var(--pad-size) - 3rem);
  padding: var(--pad-size) 2rem;
  width: 100%;
  height: 25rem;
  border-radius: 2rem;
  position: relative;
}

.note:nth-child(1) {
  background-color: var(--custom-color--1);
}
.note:nth-child(2) {
  background-color: var(--custom-color--2);
}
.note:nth-child(3) {
  background-color: var(--custom-color--3);
}

.note:nth-child(4) {
  background-color: var(--custom-color--4);
}
.note:nth-child(5) {
  background-color: var(--custom-color--5);
}
.note:nth-child(6) {
  background-color: var(--custom-color--1);
}

.note textarea {
  width: 100%;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  resize: none;
}
.note textarea:first-child {
  height: 4rem;
  font-size: var(--fs-700);
  border-bottom: 1px solid var(--color-primary-light);
  margin-bottom: 1rem;
}

.note textarea:last-of-type {
  height: 10rem;
}

.note ::-webkit-scrollbar {
  width: 3px;
}

.note ::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-light);
}

.note textarea:focus {
  outline: none;
}

:is(.btn-top, .btn-bottom) {
  position: absolute;
  right: var(--btn-loc);
}
.btn-top {
  top: var(--btn-loc);
}

.btn-bottom {
  bottom: var(--btn-loc);
}

.date {
  position: absolute;
  left: 2rem;
  bottom: var(--btn-loc);
}

.hidden {
  display: none;
}

.sub-main .icon:first-of-type {
  fill: var(--color-primary);
}
