/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap"); */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/

:root {
  --color-primary: #343a40;
  --color-primary-light: #868e96;
  --color-primary-dark: #212529;

  --color-white: #fff;

  --custom-color--1: #dafb88;
  --custom-color--2: #fdcd67;
  --custom-color--3: #ff966c;
  --custom-color--4: #c76cff;
  --custom-color--5: #00d2ff;

  --fs-200: 1.2rem;
  --fs-300: 1.4rem;
  --fs-400: 1.6rem;
  --fs-500: 1.8rem;
  --fs-600: 2rem;
  --fs-700: 2.4rem;
  --fs-800: 3rem;
  --fs-900: 3.6rem;
  --fs-z00: 4.4rem;
  --fs-z10: 5.2rem;
}

body {
  font-family: "Raleway", serif;
  font-size: 1.6rem;
  color: #444;
  display: grid;
  place-items: center;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--custom-color--3);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* animation */
/* ----------------------------------------------------------------------------------- */
@keyframes dots-slide-down {
  0% {
    transform: translateY(-6rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    /* z-index: 4; */
  }
}

@keyframes dots-slide-up {
  0% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  100% {
    transform: translateY(-6rem);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes dots-slide-right {
  0% {
    transform: translateX(-4rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes dots-slide-left {
  0% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  100% {
    transform: translateX(-4rem);
    opacity: 0;
  }
}

/* reuseable components */
/* ----------------------------------------------------------------------------------- */

.icon {
  height: 1.7rem;
  width: 1.7rem;
  color: var(--color-white);
  fill: var(--color-white);
}

.icon-big {
  height: 2.5rem;
  width: 2.5rem;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
}

.btn--circle {
  border-radius: 20rem;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.btn--circle:active {
  transform: scale(0.9);
}

.btn--circle--sm {
  height: 2.5rem;
  width: 2.5rem;
}

.btn--circle--big {
  height: 4rem;
  width: 4rem;
  position: relative;
  z-index: 3;
}

.add-dots {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-dots > p {
  margin-bottom: 0.5rem;
}

.dots {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  position: relative;
  transition: all 1s;
}

.dots--column {
  flex-direction: column;
}

.dots li {
  opacity: 1;
  z-index: 1;
  visibility: hidden;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  transition: transform 5s;
}

.dots li:hover {
  transform: scale(1.2) translateX(0) !important;
}

.dots li:active {
  transform: scale(0.9) translateX(0) !important;
}

.add-dots ul.dots-active li {
  animation-fill-mode: forwards;
}

.add-dots ul.dots-deactive li {
  animation-fill-mode: backwards;
}

ul.dots-active li:nth-child(1),
ul.dots-deactive li:nth-child(5) {
  animation-delay: 0.1s;
}

ul.dots-active li:nth-child(2),
ul.dots-deactive li:nth-child(4) {
  animation-delay: 0.2s;
}
ul.dots-active li:nth-child(3),
ul.dots-deactive li:nth-child(3) {
  animation-delay: 0.3s;
}
ul.dots-active li:nth-child(4),
ul.dots-deactive li:nth-child(2) {
  animation-delay: 0.4s;
}
ul.dots-active li:nth-child(5),
ul.dots-deactive li:nth-child(1) {
  animation-delay: 0.5s;
}

.dots-active {
  margin-top: 2rem;
}

.overlay {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 85vh;
  transition: all 0.4rem;
}

.sub-menu {
  position: absolute;
  left: -4rem;
  top: 1.8rem;
  z-index: 10;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  background-color: var(--color-white);
  padding: 2px;
  width: 10rem;
  border-radius: 3px;
  display: none;
  gap: 2px;
  flex-direction: column;
}

.btn-sub-menu:hover + .sub-menu,
.sub-menu:hover {
  display: flex;
}

.sub-menu-hidden:hover {
  display: none;
}

.sub-menu button:hover,
.sub-menu label:hover {
  background-color: #eee;
}

.sub-menu button,
.sub-menu label {
  display: flex;
  gap: 5px;
  padding: 3px 7px;
  border-radius: 3px;
  align-items: flex-end;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}
.sub-menu span {
  font-size: 1.2rem;
}

.drop-down .icon:first-of-type {
  fill: var(--color-primary);
}

/* custom style */

/* app components */
/* ----------------------------------------------------------------------------------- */

#root {
  width: 100%;
}

.app {
  width: 70%;
  margin: 0 auto;
  height: 85vh;
  border-radius: 2.5rem;
  box-shadow: 0 1rem 2rem 1rem rgba(68, 68, 68, 0.1);
  display: grid;
  grid-template-columns: 10rem 1fr;
  overflow: hidden;
  position: relative;
}

/* sidebar components */
/* ----------------------------------------------------------------------------------- */

.sidebar {
  border-right: 1px solid #bbb;
  text-align: center;
  padding-top: 3rem;
}
.sidebar .dots li {
  transform: translateY(-6rem);
  cursor: pointer;
}

.sidebar .dots-active li {
  animation: dots-slide-down 0.4s ease-out;
}

.sidebar .dots-deactive li {
  animation: dots-slide-up 0.3s ease-in;
}

.sidebar .add-dots {
  width: 80%;
  margin: 0 auto;
}

.brand-logo {
  font-size: var(--fs-800);
  margin-bottom: 4rem;
  color: var(--custom-color--3);
  text-transform: uppercase;
}

/* top-bar components  */
/* ----------------------------------------------------------------------------------- */

.top-bar {
  padding: 1rem 2rem;
  display: flex;
  gap: 2rem;
}

.top-bar button:not(:last-child) {
  background: none;
  padding: 0.5rem 1rem;
  border: 2px solid var(--custom-color--3);
  font-size: var(--fs-400);
  color: var(--custom-color--3);
  border-radius: 2rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s;
}

.top-bar .notebook-mode:first-of-type,
.top-bar button:not(:last-child):hover {
  background-color: var(--custom-color--3);
  color: var(--color-white);
  cursor: pointer;
}

.top-bar button:last-child {
  margin-left: auto;
  background: none;
  border: 2px solid var(--custom-color--3);
  cursor: pointer;
}

.top-bar button:last-child svg {
  color: var(--custom-color--3);
}

.top-bar form {
  position: relative;
}

.top-bar input {
  border: 1px solid #eee;
  border-radius: 2rem;
  padding: 1rem 5rem;
  font-family: inherit;
  font-size: inherit;
  color: var(--color-primary-light);
}

.top-bar input:focus {
  border: none;
  outline: 1px solid var(--custom-color--3);
}

.top-bar input:focus + label svg {
  color: var(--custom-color--3);
}

.top-bar input::placeholder {
  color: #bbb;
  letter-spacing: 1px;
}

.top-bar label {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.top-bar label svg {
  color: #bbb;
  /* height: 2rem; */
  /* width: 2rem; */
}
/* work-area components  */
/* ----------------------------------------------------------------------------------- */

.work-area {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  padding: 1rem 0;
  transition: all 0.3s;
}

.note-books-active {
  grid-template-columns: 4fr 9fr;
}

.work-area h1 {
  color: var(--custom-color--3);
  display: grid;
  place-items: center;
}

.work-area > .btn-back {
  position: absolute;
  top: 6.5rem;
  left: 10rem;
  z-index: 3;
  width: 2rem;
}

/* notes components  */
/* ----------------------------------------------------------------------------------- */

.notes > ul {
  list-style: none;
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 3rem;
  height: 70vh;
  overflow: auto;
  transition: height 0.3s;
}

.notes header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding: 0 4rem;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  /* transform: translateY(-2rem); */
}

.notes header h2 {
  font-size: 2rem;
  text-transform: capitalize;
}

.notes header > p {
  /* justify-self: center; */
  font-size: 1.6rem;
  color: var(--color-primary-light);
}

.notes header > .drop-down {
  top: 0rem;
  right: 3rem;
}

.notes header .sub-menu {
  top: 2rem;
  left: -7rem;
}
.notes .dots-deactive li {
  animation: dots-slide-left 0.3s ease-in;
}

.note-books-active .notes > ul {
  padding: 1rem 3rem;
  height: 60vh;
}

.notes:has(.dots) > ul {
  padding: 1rem 3rem;
  height: 60vh;
}

.note-books-active .notes .add-dots {
  display: flex;
}

.note-books-active .notes > ul {
  grid-template-columns: repeat(2, 1fr);
}

.note {
  --pad-size: 4rem;
  --btn-loc: calc(var(--pad-size) - 3rem);
  padding: var(--pad-size) 2rem;
  width: 100%;
  height: 25rem;
  border-radius: 2rem;
  position: relative;
  transition: all 0.3s;
}

.note textarea {
  width: 100%;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  resize: none;
}
.note textarea:first-child {
  height: 3rem;
  font-size: var(--fs-700);
  border-bottom: 1px solid var(--color-primary-light);
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.note textarea:first-child[disabled],
.note textarea:last-of-type[disabled] {
  color: var(--color-primary);
}

.note:not(:has(textarea[disabled])) {
  box-shadow: 0 1rem 2rem rgba(68, 68, 68, 0.3);
  transform: scale(1.03);
  z-index: 4;
}
.note:not(:has(textarea[disabled])).note-zoom {
  transform: scale(1.02) translate(-50%, -50%);
}

.note textarea:last-of-type {
  height: 18vh;
  padding-right: 1rem;
}
.note-zoom textarea:last-of-type {
  height: 40vh;
}

.note ::-webkit-scrollbar {
  width: 2px;
}

.note ::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-light);
}

.note textarea:focus {
  outline: none;
}

:is(.drop-down, .btn-bottom) {
  position: absolute;
  right: var(--btn-loc);
}
.note .drop-down {
  top: var(--btn-loc);
}

.note .favorite {
  position: absolute;
  top: var(--btn-loc);
  right: 3rem;
}
.btn-bottom {
  bottom: var(--btn-loc);
  display: flex;
  gap: 5px;
}

.note .date {
  position: absolute;
  left: 2rem;
  bottom: var(--btn-loc);
}

.notes .drop-down {
  right: 5px;
  top: 1rem;
}

.note-zoom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60vh;
  z-index: 4;
}

.notes .dots li {
  transform: translateX(-4rem);
}

.notes .add-dots:has(.dots-active) {
  margin-bottom: 2rem;
  transition: margin-bottom 1s;
  backface-visibility: hidden;
}

.notes .add-dots:has(.dots-deactive) {
  margin-bottom: 0rem;
  transition: margin-bottom 1s;
  backface-visibility: hidden;
}

.notes:has(.dots-active) > ul {
  height: 54vh;
}

.notes .dots-active li {
  animation: dots-slide-right 0.4s ease-out;
}

.notes .dots-deactive li {
  animation: dots-slide-left 0.3s ease-in;
}

.note .sub-menu {
  left: -7rem;
}
.notes .search-stat {
  color: var(--color-primary);
  display: flex;
  padding: 5px 1rem 5px 3rem;
  gap: 3rem;
  align-items: center;
  margin: 1rem 3rem;
  border: 1px solid var(--custom-color--3);
  border-radius: 2rem;
  letter-spacing: 0.8px;
}
.notes .search-stat p {
  margin-left: auto;
}

.notes .search-stat button {
  background-color: var(--custom-color--3);
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1/1;
  border: none;
  font-size: 2rem;
  border-radius: 100%;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}
.notes .search-stat button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.notes .search-stat button:active {
  transform: scale(0.9);
  cursor: pointer;
}

.instruction {
  grid-column: 1/-1;
  text-align: center;
  align-self: center;
  color: var(--custom-color--3);
}

/* note-books components  */
/* ----------------------------------------------------------------------------------- */

.note-books {
  position: absolute;
  clip-path: inset(0 100% 0 0);
  padding: 1rem;
  /* transition: clip-path 0.3s; */
}

.note-books > p {
  color: var(--color-primary-light);
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}
.note-books-active .note-books {
  position: relative;
  clip-path: inset(0 0 0 0);
}

.note-books > ul {
  /* padding-inline: 2rem 0; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  height: 63vh;
}

.note-book {
  background-color: #c76cff;
  border-radius: 1rem;
  height: 6rem;
  padding: 8px 2rem;
  list-style: none;
  width: 85%;
  transition: width 0.3s;
  position: relative;
  cursor: pointer;
}

.note-book > div {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.note-book-active,
.note-book:hover {
  width: 95%;
}
.btn-back {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
  color: var(--custom-color--3);
}

.note-book > form {
  position: relative;
}
.note-book .btn-rename {
  position: absolute;
  color: var(--color-white);
  top: 0;
  right: 3rem;
}

.note-book .input-active {
  border: 1.5px solid var(--color-primary);
  border-radius: 1.1rem;
}

.note-book input {
  font-size: var(--fs-400);
  color: var(--color-primary-dark);
  background-color: transparent;
  font-family: inherit;
  border: none;
  padding: 2.7px 8px;
  width: 80%;
  text-overflow: ellipsis;
  cursor: pointer;
}

.note-book input:focus {
  outline: none;
  cursor: text;
}
.note-book p:first-child {
  margin-left: 1rem;
}
.note-book p {
  font-size: 1.2rem;
  color: var(--color-primary);
}

.notebook-form {
  margin: 1rem 2rem 1rem 0;
  border-radius: 1rem;
  padding: 2rem 8px;
  box-shadow: 0 1rem 2rem rgba(68, 68, 68, 0.1);
  margin-bottom: 2rem;
  transition: all 0.3s;
}

.notebook-form + ul {
  height: 50vh;
}

.notebook-form input {
  border-radius: 5px;
  padding: 5px;
  width: 76%;
  margin-right: 5px;
}

.notebook-form input:focus {
  outline: none;
  border: 2px solid var(--custom-color--1);
  box-shadow: 0 5px 1rem rgba(68, 68, 68, 0.2);
  transform: translateY(-2px);
  transition: all 0.3s;
}

.notebook-form button {
  padding: 4px;
  text-transform: uppercase;
  background-color: var(--color-primary);
  border: none;
  border-radius: 3px;
  color: var(--color-white);
}

.note-books .drop-down {
  position: absolute;
  top: 2px;
  right: 2px;
}

.note-books .sub-menu {
  left: -7rem;
  top: 1.8rem;
  width: 9rem;
}
